[user]
    name = Jesse Escobedo
    email = jescobedo@rubiconproject.com

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    df = diff
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[push]
    default = current
[core]
    excludesfile = /Users/jescobedo/.gitignore_global
	editor = /usr/local/bin/mvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
	ff = only
